{% extends "base.html" %}

{% block title %}Головна{% endblock %}

{% block content %}
<h2>Ласкаво просимо до системи онлайн-голосування!</h2>
<p>Це сучасна платформа для створення, управління та аналізу голосувань.</p>
<div>
    <ul>
        <li><strong>Створити голосування:</strong> додайте нові опитування з варіантами відповідей.</li>
        <li><strong>Провести голосування:</strong> дозвольте користувачам голосувати в режимі реального часу.</li>
        <li><strong>Редагувати голосування:</strong> оновлюйте запитання або варіанти відповідей.</li>
        <li><strong>Перегляд голосувань:</strong> аналізуйте результати та активні опитування.</li>
    </ul>
</div>
<button onclick="location.href='/create'">Розпочати</button>
{% endblock %}
